.products{
    display: flex;
}
.coat_img{
    height: 1080px;
    width: content-box;
}
.product_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen  and (max-width: 1300px){
    .coat_img{
        height: 900px;
    }
}
@media screen  and (max-width: 1100px){
    .coat_img{
        height: 700px;
    }
}
@media screen  and (max-width: 900px){
    .products{
        display: flex;
        flex-flow: column;
        gap: 40px;
        padding-bottom: 40px;
    }
    .coat_img{
        height: 800px;
        object-fit: cover;
    }
}
@media screen  and (max-width: 500px){
    .coat_img{
        height: 427px;
        width: 100%;
    }

}
